/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET CSS*/
/*REGLES GENERALES*/
body {
  font-family: 'Montserrat', sans-serif;
  width: auto;
}

h1 {
  font-size: 24px;
  font-family: 'Finger Paint', cursive;
}

h2 {
  font-family: 'Finger Paint', cursive;
  font-weight: 500;
  font-size: 22px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#container {
  margin: auto;
}

header {
  height: 150px;
  padding: 20px;
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  font-size: 24px;
}

header a:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e58a0c));
  background-image: linear-gradient(to left, #8f5bfe, #e58a0c);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

header .accueil {
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .accueil .fa-arrow-left {
  font-size: 25px;
  margin-right: 50px;
  color: #fff;
  background-color: #c77961;
  padding: 5px;
  border-radius: 25px;
}

header .accueil .fa-arrow-left:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e58a0c));
  background-image: linear-gradient(to right, #8f5bfe, #e58a0c);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

header #logo {
  height: 100px;
}

header i {
  font-size: 24px;
}

header a:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e58a0c));
  background-image: linear-gradient(to left, #8f5bfe, #e58a0c);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.panier {
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c77961;
  padding: 15px;
  border-radius: 30px;
  color: #fff;
}

.panier h3 {
  margin-right: 10px;
}

#mainDiv {
  margin: 30px;
  border: 6px double #c77961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#photo {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 5px 0px #efd9d2;
          box-shadow: 5px 5px 5px 0px #efd9d2;
  border: solid 2px #f3e9f1;
  border-radius: 400px;
  margin: 10px;
}

#secondaryDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

#nom {
  margin: 0px 0px 30px;
  text-align: center;
}

#description {
  margin-bottom: 30px;
}

#titreSelect {
  margin-bottom: 10px;
}

#menuDeroulant {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  border-radius: 0.25em;
  padding: 5px;
  cursor: pointer;
  background-color: #f3e9f1;
  -webkit-box-shadow: 5px 5px 5px 0px #efd9d2;
          box-shadow: 5px 5px 5px 0px #efd9d2;
  border: solid 2px #f3e9f1;
  margin-bottom: 40px;
}

#prix {
  margin-left: 10px;
}

#cartButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 0.25em;
  padding: 5px;
  cursor: pointer;
  background-color: #c0a4d2;
  -webkit-box-shadow: 5px 5px 5px 0px #efd9d2;
          box-shadow: 5px 5px 5px 0px #efd9d2;
  border: solid 2px #f3e9f1;
}

#cartButton:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

footer {
  background-color: #f3e9f1;
  padding: 50px;
}

@media only screen and (min-width: 1040px) {
  body {
    background-color: #f3e9f1;
  }
  #container {
    width: 1000px;
    background-color: white;
    border: 1px #c77961 solid;
  }
}

@media only screen and (min-width: 521px) and (max-width: 770px) {
  #mainDiv img {
    width: 400px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .panier {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 15px 0px 0px 0px;
  }
  header #logo {
    height: 80px;
  }
  #mainDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  #secondaryDiv {
    margin: 20px;
  }
  #photo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 520px) {
  #mainDiv {
    margin: 10px;
  }
  #mainDiv img {
    width: 200px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .panier {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 15px 0px 0px 0px;
  }
  header #logo {
    height: 80px;
  }
  #mainDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  #secondaryDiv {
    margin: 20px;
  }
  #photo {
    width: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #prix {
    font-size: 17px;
    margin-left: 7px;
  }
  #cartButton h3 {
    font-size: 12px;
  }
}
/*# sourceMappingURL=products_style.css.map */