/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET CSS*/
/*REGLES GENERALES*/
body {
  font-family: 'Montserrat', sans-serif;
  width: auto;
}

h1 {
  font-size: 24px;
  font-family: 'Finger Paint', cursive;
}

h2 {
  font-family: 'Finger Paint', cursive;
  font-weight: 500;
  font-size: 22px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/*#bouton{
	@include button
}*/
#container {
  margin: auto;
}

header {
  height: 150px;
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
}

header #logo {
  height: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#listeProduits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

#mainDiv {
  margin: 30px;
  border: 6px double #c77961;
}

#mainDiv a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  position: relative;
}

#mainDiv a:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

#mainDiv img {
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 5px 0px #efd9d2;
          box-shadow: 5px 5px 5px 0px #efd9d2;
  border: solid 2px #f3e9f1;
  border-radius: 500px;
  margin-top: 20px;
}

#productLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 95%;
  height: 95%;
  position: absolute;
  z-index: 1;
}

#productLink .searchicone {
  color: transparent;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 50px 100px;
  z-index: 2;
}

#productLink .searchicone:hover {
  color: #000;
  background-color: #f3e9f1;
}

#nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #c77961;
  padding: 10px;
  border-radius: 40px;
}

#secondaryDiv {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 20px 0px;
}

#description {
  width: 95%;
  margin: 20px 0px;
}

footer {
  background-color: #f3e9f1;
  padding: 50px;
}

@media only screen and (min-width: 1040px) {
  body {
    background-color: #f3e9f1;
  }
  #container {
    width: 1000px;
    background-color: white;
    border: 1px #c77961 solid;
  }
}

@media only screen and (min-width: 521px) and (max-width: 720px) {
  #mainDiv img {
    width: 400px;
  }
}

@media only screen and (max-width: 520px) {
  #mainDiv img {
    width: 200px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */